//COLORS
$colorBlack: #02020d;
$colorWhite: #fff;
$colorLightGray: #909090;
$colorGray: #2d2e3e;
$colorNavy: #0f1021;
$colorPurple: #5c40dd;
$colorPink: #b100ff;
$colorGreen: #90fa00;
$colorRed: #e13434;
$colorOrange: #ffac26;
$colorBlue: #40afff;
$colorGradient: linear-gradient(
  112.45deg,
  $colorPink 30.61%,
  $colorPurple 77.87%
);
$colorBg: #1b1b1b;

$colorDefault: $colorWhite;
