//COLORS
$color-black: #02020d;
$color-white: #fff;
$color-light-gray: #909090;
$color-gray: #2d2e3e;
$color-navy: #0f1021;
$color-purple: #5c40dd;
$color-pink: #b100ff;
$color-green: #90fa00;
$color-red: #e13434;
$color-orange: #ffac26;
$color-blue: #40afff;
$color-gradient: linear-gradient(
  112.45deg,
  $color-pink 30.61%,
  $color-purple 77.87%
);
$color-bg: #1b1b1b;

$color-default: $color-white;
