// FONT DEFAULT SIZE
$font-size-default: 16px;

//FONT FAMILIES
$font-default: 'Raleway, sans-serif';
$font-secondary: 'Poppins, sans-serif';

// FONT SIZEs
$font-sizes: (
  xxxs: rem(7px),
  xxs: rem(10px),
  xs: rem(12px),
  s: rem(16px),
  m: rem(20px),
  l: rem(25px),
  xl: rem(40px),
  xxl: rem(60px),
  xxxl: rem(90px),
);

$font-sizes-desktop: (
  xxxs: rem(7px),
  xxs: rem(10px),
  xs: rem(12px),
  s: rem(16px),
  m: rem(20px),
  l: rem(25px),
  xl: rem(40px),
  xxl: rem(60px),
  xxxl: rem(90px),
);

// FONT-WEIGHTS
$font-weights: (
  light: 300,
  medium: 500,
  bold: 700,
);

// LINE HEIGHT
$line-height-default: 1em;
