$size-2xl: 1536px;
$size-xl: 1280px;
$size-lg: 1024px;
$size-md: 768px;
$size-sm: 640px;

@mixin screen-2xl {
  @media screen and (max-width: #{$size-2xl}) {
    @content;
  }
}

@mixin screen-xl {
  @media screen and (max-width: #{$size-xl}) {
    @content;
  }
}

@mixin screen-lg {
  @media screen and (max-width: #{$size-lg}) {
    @content;
  }
}

@mixin screen-md {
  @media screen and (max-width: #{$size-md}) {
    @content;
  }
}

@mixin screen-sm {
  @media screen and (max-width: #{$size-sm}) {
    @content;
  }
}
