$size2xl: 1536px;
$sizeXl: 1280px;
$sizeLg: 1024px;
$sizeMd: 768px;
$sizeSm: 640px;

@mixin screen2xl {
  @media screen and (max-width: #{$size2xl}) {
    @content;
  }
}

@mixin screenXl {
  @media screen and (max-width: #{$sizeXl}) {
    @content;
  }
}

@mixin screenLg {
  @media screen and (max-width: #{$sizeLg}) {
    @content;
  }
}

@mixin screenMd {
  @media screen and (max-width: #{$sizeMd}) {
    @content;
  }
}

@mixin screenSm {
  @media screen and (max-width: #{$sizeSm}) {
    @content;
  }
}
