// TRANSITIONS
@mixin transition($duration: 250ms, $timing: ease-in-out) {
  transition-timing-function: $timing;
  transition-duration: $duration;
}

// POSITION HELPERS
@mixin positionCenterVertical {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

@mixin positionCenterHorizontal {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

// POSITION - ABSOLUTE / FIXED
@mixin absCenterVertical($type: absolute) {
  @include positionCenterVertical;

  position: $type;
}

@mixin absCenterHorizontal($type: absolute) {
  @include positionCenterHorizontal;

  position: $type;
}

@mixin absLeftTop($type: absolute) {
  position: $type;
  top: 0;
  left: 0;
}
@mixin absLeftCenter($type: absolute) {
  @include absCenterVertical($type);

  left: 0;
}
@mixin absLeftBottom($type: absolute) {
  position: $type;
  bottom: 0;
  left: 0;
}
@mixin absCenterTop($type: absolute) {
  @include absCenterHorizontal($type);

  top: 0;
}
@mixin absCenterCenter($type: absolute) {
  @include absCenterHorizontal;
  @include positionCenterVertical;

  position: $type;
}
@mixin absCenterBottom($type: absolute) {
  @include absCenterHorizontal($type);

  bottom: 0;
}
@mixin absRightTop($type: absolute) {
  position: $type;
  top: 0;
  right: 0;
}
@mixin absRightCenter($type: absolute) {
  @include absCenterVertical($type);

  right: 0;
}
@mixin absRightBottom($type: absolute) {
  position: $type;
  right: 0;
  bottom: 0;
}

//BG HELPER
@mixin bg($bg-url) {
  background: url($bg-url) no-repeat;
  background-position: center;
}

// BACKGROUND COVER
@mixin backgroundCover($bg-url) {
  @include bg($bg-url);

  background-size: cover;
}

@mixin backgroundContain {
  @include bg($bg-url);

  background-size: contain;
}

// FULL WIDTH
@mixin widthHeightFull {
  width: 100%;
  height: 100%;
}

// RECTNAGLE
@mixin widthHeightRect($size) {
  width: $size;
  height: $size;
}

// IMAGE FIT
@mixin imageFitCover {
  @include widthHeightFull;

  object-fit: cover;
}

@mixin imageFitContain {
  @include widthHeightFull;

  object-fit: contain;
}

