@mixin text7 {
  font-size: fontSize(xxxs);

  @include screen2xl {
    font-size: fontSize2xl(xxxs);
  }

  @include screenXl {
    font-size: fontSizeXl(xxxs);
  }

  @include screenLg {
    font-size: fontSizeLg(xxxs);
  }

  @include screenMd {
    font-size: fontSizeMd(xxxs);
  }

  @include screenSm {
    font-size: fontSizeSm(xxxs);
  }
}

@mixin text10 {
  font-size: fontSize(xxs);

  @include screen2xl {
    font-size: fontSize2xl(xxs);
  }

  @include screenXl {
    font-size: fontSizeXl(xxs);
  }

  @include screenLg {
    font-size: fontSizeLg(xxs);
  }

  @include screenMd {
    font-size: fontSizeMd(xxs);
  }

  @include screenSm {
    font-size: fontSizeSm(xxs);
  }
}

@mixin text12 {
  font-size: fontSize(xs);

  @include screen2xl {
    font-size: fontSize2xl(xs);
  }

  @include screenXl {
    font-size: fontSizeXl(xs);
  }

  @include screenLg {
    font-size: fontSizeLg(xs);
  }

  @include screenMd {
    font-size: fontSizeMd(xs);
  }

  @include screenSm {
    font-size: fontSizeSm(xs);
  }
}

@mixin text16 {
  font-size: fontSize(s);

  @include screen2xl {
    font-size: fontSize2xl(s);
  }

  @include screenXl {
    font-size: fontSizeXl(s);
  }

  @include screenLg {
    font-size: fontSizeLg(s);
  }

  @include screenMd {
    font-size: fontSizeMd(s);
  }

  @include screenSm {
    font-size: fontSizeSm(s);
  }
}

@mixin text20 {
  font-size: fontSize(m);

  @include screen2xl {
    font-size: fontSize2xl(m);
  }

  @include screenXl {
    font-size: fontSizeXl(m);
  }

  @include screenLg {
    font-size: fontSizeLg(m);
  }

  @include screenMd {
    font-size: fontSizeMd(m);
  }

  @include screenSm {
    font-size: fontSizeSm(m);
  }
}

@mixin text25 {
  font-size: fontSize(l);

  @include screen2xl {
    font-size: fontSize2xl(l);
  }

  @include screenXl {
    font-size: fontSizeXl(l);
  }

  @include screenLg {
    font-size: fontSizeLg(l);
  }

  @include screenMd {
    font-size: fontSizeMd(l);
  }

  @include screenSm {
    font-size: fontSizeSm(l);
  }
}

@mixin text40 {
  font-size: fontSize(xl);

  @include screen2xl {
    font-size: fontSize2xl(xl);
  }

  @include screenXl {
    font-size: fontSizeXl(xl);
  }

  @include screenLg {
    font-size: fontSizeLg(xl);
  }

  @include screenMd {
    font-size: fontSizeMd(xl);
  }

  @include screenSm {
    font-size: fontSizeSm(xl);
  }
}

@mixin text60 {
  font-size: fontSize(xxl);

  @include screen2xl {
    font-size: fontSize2xl(xxl);
  }

  @include screenXl {
    font-size: fontSizeXl(xxl);
  }

  @include screenLg {
    font-size: fontSizeLg(xxl);
  }

  @include screenMd {
    font-size: fontSizeMd(xxl);
  }

  @include screenSm {
    font-size: fontSizeSm(xxl);
  }
}

@mixin text90 {
  font-size: fontSize(xxxl);

  @include screen2xl {
    font-size: fontSize2xl(xxxl);
  }

  @include screenXl {
    font-size: fontSizeXl(xxxl);
  }

  @include screenLg {
    font-size: fontSizeLg(xxxl);
  }

  @include screenMd {
    font-size: fontSizeMd(xxxl);
  }

  @include screenSm {
    font-size: fontSizeSm(xxxl);
  }
}
