@import 'normalize.scss/normalize.scss';
@import './main.module.scss';

* {
  box-sizing: border-box;
  font-family: $fontDefault;
  font-size: $fontSizeDefault;
  font-weight: fontWeight(medium);
  color: $colorDefault;
  line-height: $lineHeightDefault;
}

html,
body,
#__next {
  min-height: 100vh;
}

body {
  background: $colorBg;
}
